@import "tailwindcss";
@import "./components/markdown/markdown.css";
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .btn-primary {
    @apply flex flex-row py-1 w-full gap-2 min-w-28 max-w-42 h-10 justify-center bg-primary-600 hover:bg-primary-500 transition-all duration-300 border-primary-300 hover:border-primary-400 items-center border rounded-md text-sm font-medium cursor-pointer text-white hover:text-gray-50 dark:bg-primary-700 dark:hover:bg-primary-600 dark:border-primary-600 dark:hover:border-primary-500;
  }

  .btn-secondary {
    @apply flex flex-row py-1 w-full bg-white gap-2 min-w-28 max-w-42 h-10 justify-center items-center border border-primary-400 hover:border-primary-600 rounded-md text-sm font-medium cursor-pointer text-primary-500 hover:text-primary-600 dark:border-dark-300 dark:hover:border-dark-200 dark:text-dark-100 dark:hover:text-dark-50;
  }

  .btn-small {
    @apply flex flex-row w-12 h-12 gap-2 justify-center bg-white border-primary-300 hover:border-primary-400 items-center border rounded-full text-sm font-medium cursor-pointer text-white hover:text-gray-50 dark:bg-primary-700 dark:border-primary-600;
  }

  .btn-primary-long {
    @apply flex flex-row py-1 w-full gap-2 min-w-28 h-10 justify-center bg-primary-400 hover:bg-primary-500 border-primary-300 hover:border-primary-400 items-center border rounded-md text-sm font-medium cursor-pointer text-white hover:text-gray-50 dark:bg-primary-700 dark:hover:bg-primary-600 dark:border-primary-600 dark:hover:border-primary-500;
  }

  .btn-secondary-long {
    @apply flex flex-row py-1 w-full gap-2 min-w-28 h-10 justify-center items-center border border-primary-400 hover:border-primary-600 rounded-md text-sm font-medium cursor-pointer text-primary-400 hover:text-primary-600 dark:border-dark-200 dark:hover:border-dark-100 dark:text-white  dark:bg-dark-300 dark:hover:bg-dark-200;
  }

  .separator {
    @apply w-full h-px bg-gray-300 dark:bg-dark-400;
  }}


@theme {
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-dark-500 text-black dark:text-white;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

nav {
  @apply bg-white dark:bg-dark;
}

.separator {
  @apply w-full h-0.5 bg-gray-200 dark:bg-dark-300;
}

@theme {
  /* Light mode colors (shades of cyan) */
  --color-primary-50: #E6FBFC;
  --color-primary-100: #CCF7F8;
  --color-primary-200: #99EFF1;
  --color-primary-300: #66E7EA;
  --color-primary-400: #33DFE3;
  --color-primary-500: #00BEC4;
  --color-primary-600: #009BA0;
  --color-primary-700: #007477;
  --color-primary-800: #004D4F;
  --color-primary-900: #002627;
  /* dark mode colors (obsidian) */
  --color-dark: #1A1A1A;
  --color-dark-50: #4D4D4D;
  --color-dark-100: #404040;
  --color-dark-200: #333333;
  --color-dark-300: #2B2B2B;
  --color-dark-400: #232323;
  --color-dark-500: #1A1A1A;
  --color-dark-600: #141414;
  --color-dark-700: #0D0D0D;
  --color-dark-800: #070707;
  --color-dark-900: #000000;
}

/* Import markdown styles */
@import "./components/markdown/markdown.css";